*{
    font-family: "Roboto", sans-serif;
    margin: 0;
}


.hd{
    background: linear-gradient(to left, #0a84ff, #e5eaf0);


}
.head{
    display: flex;
    justify-content: space-between;
}
.afterHead{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    padding: 14px;
}
.side1{
    display: flex;
    flex-direction: column;
    gap:15px;
    padding: 15px;
}
.side1 h1{
    font-size: 48px;
    color: #ffffff;
    font-weight: 900px;
}

.side1 p{
    font-size: 18px;
    color: #003366;
}
.icon{
    padding: 25px;
}
.links{
    display: flex;
    gap: 16px;
    padding-right: 7rem;
    padding-top: 42px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.links a:hover{
    border: 1px solid black;
    height: fit-content;
    padding: 8px;
    border-radius: 10px;
    background-color: #1f2639;
}

.side2 {
    width: 400px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 12px;
}
.image {
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}


.btn {
    display: flex;
    background-color: #3882f6;
    color: white;
    padding: 12px 32px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    width: 175px;
    align-self: center;
}
.btn:hover {
    background-color: lightgreen;
    transform: translate(0, -3px);
}
.sec1{
    margin: 25px;
}
.sec1 h1{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
}
.card{
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    padding: 20px;
    gap:15px;
}
.card div{
    width: 250px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 28px;
    color: #3882f6;
    font-weight: 900;
    text-align: center;
}
.sec2{
    background-color: #e5e7eb;
}
.quota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap:nowrap;
    padding: 15px;
    margin: 10px;
    gap:25px;
}
.sec2 h1{
    color:#1f2937;
    font-size: 36px;
    font-weight: 300;
}
.sec3{
    margin: 80px;
}

.card2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 20px;
    gap:15px;
    background-color:#3882f6;
    border-radius: 12px;
}

.card2 h1{
    font-size: 28px;
    color: #ffffff;
    font-weight: 900;
    text-align: center;
}

.bt button{
    text-align: center;
    width: 141px;
    height: 45px;
    border:1px solid #3882f6;
    background-color: black;
}

.card2 p{
    font-size: 20px;
    color: #003366;
    text-align: center;
}

.ft{
    background-color: #1F2937;
    margin: 0px;
}

.divft{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 45px;
    gap:15px;
    color:white;
}

.divft h1{
    font-size: 28px;
    color:whitesmoke;
    font-weight: 900;
    text-align: center;
}

.imgft{
    width: 45px;
    object-fit: contain;
    border-radius: 65%;
}

